@require '~styles/variables'
@require '~styles-lib/mixins'

.-dates
	position: relative

.-length
	theme-prop('color', 'fg-muted')
	position: absolute
	bottom: 0
	left: 0
	right: 0
	font-size: $font-size-small
	text-align: center

.progress
	margin-bottom: 0
